body {
  box-sizing: border-box;
  background-color: black;
  color: #fff;
}
html,
body {
  height: 100%;
  margin: 0;
}
@media screen and (width: 600px) and (min-height: 900px) {
  #col-container {
    background-image: url("./counter-image.jpg");
    margin-top: 0px;
    height: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    overflow: auto;
  }
  #col-box {
    background-image: url("./counter-image.jpg");
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
    box-shadow: 0 4px 2px -2px black;
    border: 1px solid white;
    padding-top: 1px;
    height: 80%;
  }
  #text {
    margin-top: 50px;
  }
  #decrease {
    background-color: rgb(2, 2, 84);
    color: white;
    margin-top: 200px;
    border-radius: 8%;
    border-color: rgb(2, 2, 84);
    box-shadow: 0 4px 2px -2px black;
  }
  #increase {
    background-color: rgb(2, 2, 84);
    color: white;
    margin-top: 20px;
    border-color: rgb(2, 2, 84);
    border-radius: 8%;
    box-shadow: 0 4px 2px -2px black;
  }
  #digit {
    font-size: 170px;
    color: green;
  }
}
@media screen and (min-width: 768px) and (min-height: 900px) {
  #col-container {
    background-image: url("./counter-image.jpg");
    margin-top: 5%;
    height: 90%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    overflow: auto;
  }
  #col-box {
    background-image: url("./counter-image.jpg");
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
    box-shadow: 0 4px 2px -2px black;
    border: 1px solid white;
    padding-top: 1px;
    height: 80%;
  }
  #text {
    margin-top: 50px;
  }
  #decrease {
    background-color: rgb(2, 2, 84);
    color: white;
    margin-top: 200px;
    border-radius: 8%;
    border-color: rgb(2, 2, 84);
    box-shadow: 0 4px 2px -2px black;
  }
  #increase {
    background-color: rgb(2, 2, 84);
    color: white;
    margin-top: 20px;
    border-color: rgb(2, 2, 84);
    border-radius: 8%;
    box-shadow: 0 4px 2px -2px black;
  }
  #digit {
    font-size: 170px;
    color: green;
  }
}

@media screen and (max-width: 900px) and (max-height: 900px) {
  #col-container {
    background-image: url("./counter-image.jpg");
    margin-top: 0px;
    height: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    overflow: auto;
  }
  #col-box {
    background-image: url("./counter-image.jpg");
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
    box-shadow: 0 4px 2px -2px black;
    border: 1px solid white;
    padding-top: 1px;
    height: 80%;
  }
  #text {
    margin-top: 50px;
  }
  #decrease {
    background-color: rgb(2, 2, 84);
    color: white;
    margin-top: 200px;
    border-radius: 8%;
    border-color: rgb(2, 2, 84);
    box-shadow: 0 4px 2px -2px black;
  }
  #increase {
    background-color: rgb(2, 2, 84);
    color: white;
    margin-top: 20px;
    border-color: rgb(2, 2, 84);
    border-radius: 8%;
    box-shadow: 0 4px 2px -2px black;
  }
  #digit {
    font-size: 70px;
    color: green;
  }
}
@media screen and (max-height: 600px) and (max-width: 400px) {
  #col-container {
    background-image: url("./counter-image.jpg");
    margin-top: 0px;
    height: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    overflow: auto;
  }
  #col-box {
    background-image: url("./counter-image.jpg");
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
    box-shadow: 0 4px 2px -2px black;
    border: 1px solid white;
    padding-top: 1px;
    height: 80%;
  }
  #text {
    margin-top: 30px;
  }
  #decrease {
    background-color: rgb(2, 2, 84);
    color: white;
    margin-top: 100px;
    border-radius: 8%;
    border-color: rgb(2, 2, 84);
    box-shadow: 0 4px 2px -2px black;
  }
}

@media only screen and (min-width: 900px) {
  #col-container {
    background-image: url("./counter-image.jpg");
    margin-top: 15px;
    height: 95%;
    margin-left: 27%;
    margin-right: 27%;
    overflow: auto;
  }

  #col-box {
    background-image: url("./counter-image.jpg");
    margin-top: 30px;
    margin-left: 90px;
    margin-right: 80px;
    border: 1px solid white;
    box-shadow: 0 4px 2px -2px black;
    height: 520px;
    padding-top: 1px;
    margin-bottom: 30px;
  }

  #text {
    margin-top: 50px;
  }

  #decrease {
    margin-top: 25px;
    background-color: rgb(2, 2, 84);
    color: white;
    border-radius: 8%;
    border-color: rgb(2, 2, 84);
    height: 40px;
    box-shadow: 0 4px 2px -2px black;
  }

  #increase {
    margin-top: 10px;
    background-color: rgb(2, 2, 84);
    color: white;
    border-radius: 8%;
    border-color: rgb(2, 2, 84);
    height: 40px;
    box-shadow: 0 4px 2px -2px black;
  }

  #digit {
    font-size: 170px;
    color: green;
  }

  a {
    margin-top: 20px;
  }
}
